<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    Title: {{ form.title }}<br /><br />
    Description: {{ form.description }}<br /><br />
    Category: {{ form.category }}<br /><br />
    Impact: {{ form.impact }}<br /><br />
    Implementation: {{ form.implementation }}<br /><br />
    Contact information: {{ form.contactInfo }}<br /><br />
</body>
</html>
