<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .account {
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    Dear {{ user.fullname }},<br /><br />
    If you have requested the password reset, kindly follow the link below to create a new, secure password:<br /><br />
    <a href={{ url }}"?email="{{ user.email }}"&token="{{ token }}>{{ url }}?email={{ user.email }}&token={{ token }}</a><br /><br />
    Best regards,<br />
    Agora Team
</body>
</html>
